@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html {
  height: 100%;
  overflow-y: hidden; }

body {
  height: 100%;
  min-height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  overflow-y: auto;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }
  body ::-moz-selection {
    background: #4dae97; }
  body ::selection {
    background: #4dae97; }
  body a {
    color: #fff; }
    body a:hover, body a:focus {
      color: #fff; }
  body .text-shadow, body h1, body .weather-info h2.city, body .weather-info .data-value {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5); }
  body .bg-darker {
    min-height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 122px; }
  body h1 {
    margin: 10vh 0 7vh;
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: 3vw;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      body h1 {
        font-size: 44px;
        letter-spacing: 20px; } }
  body .weather-info {
    font-size: 24px; }
    body .weather-info p {
      margin-bottom: 30px; }
    body .weather-info h2.city {
      margin: 0 0 7vh;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 8px;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
      @media (min-width: 768px) {
        body .weather-info h2.city {
          font-size: 30px; } }
      body .weather-info h2.city .glyphicon {
        font-size: 0.9em;
        position: relative;
        left: -5px;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg); }
    body .weather-info .data-label {
      display: block;
      margin-bottom: 4px;
      font-size: 0.7em;
      opacity: 0.9; }
      body .weather-info .data-label small {
        display: none; }
        @media (min-width: 480px) {
          body .weather-info .data-label small {
            display: inline; } }
  body #geo-error-modal .modal-content {
    background: #d9534f;
    color: #fff; }
    body #geo-error-modal .modal-content button {
      color: #fff;
      opacity: 1; }
  body #refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.25);
    border: none; }
    .no-touchevents body #refresh-button {
      display: none; }
  body .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 0.9em; }
    body .footer p:last-of-type {
      margin-bottom: 0; }
    body .footer .footer-inline {
      display: none; }
      @media (min-width: 480px) {
        body .footer .footer-inline {
          display: inline; } }
    body .footer .footer-block {
      display: block;
      margin-bottom: 10px; }
      @media (min-width: 480px) {
        body .footer .footer-block {
          display: none; } }
  body #impressum-modal {
    color: #555; }
    body #impressum-modal a {
      color: inherit; }

/*# sourceMappingURL=style.css.map */
