@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
//@import url(https://fonts.googleapis.com/css?family=Dosis:300,500,600,700);


// Vars for Bootstrap (including BS SASS a bit complicated)
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


body {
    min-height: 100vh; // works better than %
    background-size: cover;
    background-position: center top;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased; // Safari (Thin) Font Legibility

    ::-moz-selection {
        background: #4dae97;
    }
    ::selection {
        background: #4dae97;
    }

    a {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .text-shadow {
        text-shadow: 1px 2px 1px rgba(#000, 0.5);
    }

    .bg-darker {
        min-height: 100vh;
        position: relative; // for footer positioning
        background: rgba(#000, 0.3);
        padding-bottom: 50px;
    }

    h1 {
        margin: 10vh 0 7vh;
        font-size: 6vw;
        font-weight: 800;
        letter-spacing: 3vw;
        text-transform: uppercase;
        @extend .text-shadow;

        @media (min-width: $screen-sm) {
            font-size: 44px;
            letter-spacing: 20px;
        }
    }

    .weather-info {
        font-size: 24px;

        p {
            margin-bottom: 30px;
        }

        h2.city {
            margin: 0 0 7vh;
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 8px;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            @extend .text-shadow;

            @media (min-width: $screen-sm) {
                font-size: 30px;
            }

            .glyphicon {
                font-size: 0.9em;
                position: relative;
                left: -5px;
                -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
            }
        }

        .data-label {
            display: block;
            margin-bottom: 4px;
            font-size: 0.7em;
            opacity: 0.9;
        }

        .data-value {
            @extend .text-shadow;
        }
    }

    .meta-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 12px 0;
        background: rgba(#fff, 0.1);
        text-align: center;
        font-size: 0.9em;
    }

    .modal {
        color: #555;

        a {
            color: inherit;
        }
    }
 }
